body {
  background-color: grey;
}

header {
  text-align: center;
  height: 50px;
}

nav {
  text-decoration: none;
  gap: 20px;
}

.page-wrapper {
  flex: 1;
  background-color: cornflowerblue;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  height: 50px;
  text-align: center;
  background-color: black;
  color: white;
}